<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584017344852-lr6t0joj0tg2hjqt07u20n0qq797rf1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584017344852-lr6t0joj0tg2hjqt07u20n0qq797rf1k</string>
	<key>API_KEY</key>
	<string>AIzaSyC70BVFUwZPWU5wmNQQSwyJ_kODv32m86c</string>
	<key>GCM_SENDER_ID</key>
	<string>584017344852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mikedCare</string>
	<key>PROJECT_ID</key>
	<string>mikedcares</string>
	<key>STORAGE_BUCKET</key>
	<string>mikedcares.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584017344852:ios:3e60459feee2671aecf0c1</string>
</dict>
</plist>